@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;500;600&family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

html {
  font-size: 10px;
}

body {
  font-size: $text-size;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  margin-top: $header-height;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
  width: fit-content;

  transition: all 0.2s ease-in;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $black;
    left: 0;
    bottom: 1px;
  }

  &:hover {
    &::after {
      opacity: 0;
    }
  }
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #edf2ff;
}

button:hover {
  cursor: pointer;
}
