@import './variables.scss';

.registerInfo {
  text-align: center;
  margin-top: 20px;
  font-size: $text-size;
  font-weight: 400;
  color: $black;
  margin-bottom: 85px;
}

.loginLink {
  color: $blue;
}
