@import './variables.scss';

.notFound__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.notFound__button {
  font-family: roboto mono;
  font-weight: 500;
  text-transform: uppercase;
  color: $white;
  background-color: $blue;
  width: 520px;
  height: 60px;
  line-height: 1.2;
}

.notFound__text {
  font-family: inter;
  font-weight: 700;
}
