@import './variables.scss';

.playground {
  height: calc(100vh - 5rem);
  padding: $padding-body;

  @media (max-width: 768px) {
    height: 100%;
    padding: $padding-body 1rem;
  }

  &__editors {
    display: flex;
    width: 100%;
    height: calc(100% - 3rem);
    padding: $padding-body;
    background-color: $blue;

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 1rem;
    }
  }
}
