@import './variables.scss';

.playground {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

.docsButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
}

.docsButton:hover {
  background-color: $blue;
}