@import '../../styles/variables.scss';

.docs {
  position: absolute;
  right: 0px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30vw;
  max-height: 100%;
  min-width: 300px;
  padding: 5px;
  gap: 10px;
  background-color: $page-back;
  transform: translateX(100%);
  transition: ease-in-out 0.5s;
  overflow-x: hidden;

  &__types,
  &__queries {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__defaultValue {
    color: black;
  }

  &__symbol {
    font-size: $text-size;
    color: $blue;
  }

  &__args {
    color: $blue;
  }

  &__link {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &__query {
    color: $blue;
  }

  &__base {
    color: $blue;
    border: none;
    font-size: $text-size-button;
  }

  &__nested {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 15px;
    gap: 5px;
  }

  &__field_name {
    color: $blue;
  }

  &__type {
    color: $blue;
    border: none;
    font-size: $text-size;
  }
}
.open {
  transform: translateX(0%);
}
