@import '../../styles/variables.scss';

.labelOfInput {
  position: relative;
}

.input {
  width: 100%;
  padding: 20px;
  font-size: $text-size;
  font-weight: 400;
  margin: 12px auto;
}

.input::placeholder {
  font-size: $text-size;
  font-weight: 400;
  color: $placeholder-color;
}

.input:focus {
  border-color: $blue;
  outline: $blue;
}

.errorText {
  position: absolute;
  font-size: $text-size;
  font-weight: 400;
  color: $error-color;
}
