@import '../../styles/variables.scss';

.field {
  position: relative;

  &__input {
    width: 100%;
    height: 6rem;
    padding: 0 2rem;
    font-size: $text-size;
    font-weight: 400;
    border-radius: 0;
    border: 1px solid $input-border;

    &::placeholder {
      font-size: $text-size;
      color: $placeholder-color;
    }
  }

  &__error {
    display: block;
    font-size: $text-size;
    color: $error-color;
    margin: 0.5rem 0;
  }
}
