@import '../../styles/variables.scss';

.footer {
  padding: 6rem $padding-body $padding-body;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;

  @media (max-width: 768px) {
    padding: 6rem 1rem $padding-body;
  }

  @media (max-width: 570px) {
    padding: 6rem 1rem 1rem;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.team {
  width: 100%;
  margin-bottom: 6rem;

  &__title {
    font-size: $text-size;
    font-weight: 400;
    color: $white;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;

    @media (max-width: 700px) {
      grid-template-columns: repeat(1, 100%);
      grid-template-rows: repeat(3, 1fr);
      gap: 1rem;
    }
  }

  &__item {
    position: relative;
    max-width: 800px;
    width: 100%;
    aspect-ratio: 6/7.5;

    transition: all 0.3s ease-in;

    &_image {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    &:hover {
      .team__item_image {
        opacity: 0.8;
      }
    }

    &_link {
      padding: 1rem;
      width: calc(100% - 4rem);
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $blue;
      color: $white;

      position: absolute;
      bottom: 2rem;
      left: 2rem;

      &:hover {
        background-color: $white;
        color: $black;
      }

      &::after {
        display: none;
      }
    }
  }
}

.course {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: $white;
  gap: 2rem;

  &__list {
    margin-bottom: 1.5rem;

    @media (max-width: 600px) {
      margin-bottom: 6rem;
    }
  }

  &__item {
    display: flex;
    gap: 1rem;

    @media (max-width: 410px) {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
    }

    &_link {
      text-transform: uppercase;

      &::after {
        background-color: $white;
      }
    }
  }

  &__copy {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 1.1;
  }

  &__logo_link {
    &:hover {
      opacity: 0.5;
    }
  }

  &__logo_image {
    @media (max-width: 410px) {
      height: 1.6rem;
      width: auto;
    }
  }
}
